<div class="wordbox">
  <div class="word">
  </div>
  <div class="word">
  </div>
  <div class="word">
  </div>
  <div class="word">
  </div>
  <div class="word">
  </div>
   <div class="word">
  </div>
  <div class="word">
  </div>
  <div class="word">
  </div>
  <div class="word">
  </div>
  <div class="word">
  </div>
</div>
<div class="pile">
  <% @game.tiles.each do |tile| %>
    <div class="tile"><%= tile.value %></div>
  <% end %>
</div>