<div class="pending">
<h1>Game Finished!</h1>
<h2><%= @game.winner.user.email %> Has won the Game!</h2>

<b>The Winning words were:</b>
<% @game.winner.words.each do |word| %>
  <%= word.string %>,
<% end %>

<br>

<%= link_to "Back to Lobby", games_path %>
</div>