<div class="pending">
  <h1>Game Finished!</h1>

  <h2><%= @game.winner.user.email %> Has won the Game!</h2>

  <b>The Winning words were:</b>
  <%= winning_words(@game) %><br>

  <%= button_to "Back to Lobby", games_path, method: "get", :class => "myButton" %>
</div>